<table>
    <tr>
        <td><p>Task: <a href="{{url_for('main.task', taskid=task['task'].id)}}">{{ task['task'].id }}</a> <br>
            Customer: <a href="{{url_for('main.profile', username=task['customer'].username)}}">{{ task['customer'].username }}</a> <br>
            From: {{ moment(task['task'].create_time).format('LLL') }} <br>
            Status: {% if task['task'].executor == -1 %} Wait {% else %} {% if task['task'].is_end %}In Process {% else %} Done {% endif %} {% endif %} <br>
            <strong>{{ task['task'].description }}</strong>
        </p></td>
    </tr>
</table>